#html {
    background-color: white ;
}

#tarmac_people {
}

#title {
    margin: auto;
    margin-bottom: 25px;
}

#filters {
    width: 900px;
    margin: auto;
    margin-bottom: 50px;
}

#personList {
    width: 900px;
    margin: auto;
}

.person {
    z-index: 0;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
}

.image {
    width: 200px;
    height: 200px;
    position:absolute;
    z-index: 1;
}
.attributes {
    width: 200px;
    position:absolute;
    z-index: 2;
    margin: auto;
}

.attribute {
    width: 200px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
}